# **Universidad Central del Ecuador**
## **Facultad de Ciencias Económicas**
## **Carrera de Estadística**
## **Curso de Python - Clase 2**

### **Nombre:** Caiza Ramírez Nicole

## **PREGUNTAS**

## **1.** Programa la impresión de una tabla de multiplicar para todos los números entre 1 y 10, usando For-loops
## _Rendimiento esperado:_
     1   times  1  =    1
     1   times  2  =    2
     ...
     1   times 10  =   10
     ...
    10   times 10  =  100

In [ ]:
# Creamos las tablas de multiplicar de 0 a 11  de una en una
for num1 in range(0, 11, 1):
  # Imprimimos el el nombre de la tabla de multiplicar que corresponde
  print("Tabla de multiplicar del", num1)
  # Hasta 11 para que vaya de 0-10
  for num2 in range(11):
    # Imprimimos la tablita de cada tabla
    print(num1, "X", num2, "=", num1*num2)

Tabla de multiplicar del 0
0 X 0 = 0
0 X 1 = 0
0 X 2 = 0
0 X 3 = 0
0 X 4 = 0
0 X 5 = 0
0 X 6 = 0
0 X 7 = 0
0 X 8 = 0
0 X 9 = 0
0 X 10 = 0
Tabla de multiplicar del 1
1 X 0 = 0
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
Tabla de multiplicar del 2
2 X 0 = 0
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
Tabla de multiplicar del 3
3 X 0 = 0
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
Tabla de multiplicar del 4
4 X 0 = 0
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
Tabla de multiplicar del 5
5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
Tabla de multiplicar del 6
6 X 0 = 0
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
Tabla de multiplicar del 7
7 X 0 = 0
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
Tabla de multiplicar del 8
8 X 0 = 0
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
Tabla de multiplicar del 9
9 X 0 = 0
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
Tabla de multiplicar del 10
10 X 0 = 0
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

## **2.** Programe un calendario (para todos los meses) para 2020 usando For-loops
## _Rendimiento esperado:_
     January                     
     Mon Tue Wed Thu Fri Sat Sun  
              1   2   3   4   5
      6   7   8   9  10  11  12
     13  14  15  16  17  18  19
     20  21  22  23  24  25  26
     27  28  29  30  31
     
     February
     Mon Tue Wed Thu Fri Sat Sun
                           1   2

**Forma 1:** Utilizando una librería

In [ ]:
# Importamos la librería calendar
import calendar

# calendar.Monday menciona que el calendario empezará el día lunes
calendario = calendar.TextCalendar(calendar.MONDAY)

# Ejecución de prueba para el primer mes del calendario
calendario.prmonth(2020, 1)

# Impresión del calendario anual
print(calendario.formatyear(2020, 1, 1, 3))
## 2020 (año), 2(ancho de la columna de cada mes), 1(semana por cada linea), 3(espacio entre cada columna de mes)

    January 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31
                               2020

      January                February                March
Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2                      1
 6  7  8  9 10 11 12    3  4  5  6  7  8  9    2  3  4  5  6  7  8
13 14 15 16 17 18 19   10 11 12 13 14 15 16    9 10 11 12 13 14 15
20 21 22 23 24 25 26   17 18 19 20 21 22 23   16 17 18 19 20 21 22
27 28 29 30 31         24 25 26 27 28 29      23 24 25 26 27 28 29
                                              30 31

       April                   May                    June
Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su
       1  2  3  4  5                1  2  3    1  2  3  4  5  6  7
 6  7  8  9 10 11 12    4  5  6  7  8  9 10    8  9 10 11 12 13 14
13 14 15 16 17 18 19   11 12 13 14 15 16 17   15 16 17 18 19 20 21
20 21 22 23 24 25 26   18 19 20 21 22 23 24   22 23 24 25 26 27 28
27 28 29 30            25 26 27 28 29 30 31   29 30

        July                  August               September
Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2       1  2  3  4  5  6
 6  7  8  9 10 11 12    3  4  5  6  7  8  9    7  8  9 10 11 12 13
13 14 15 16 17 18 19   10 11 12 13 14 15 16   14 15 16 17 18 19 20
20 21 22 23 24 25 26   17 18 19 20 21 22 23   21 22 23 24 25 26 27
27 28 29 30 31         24 25 26 27 28 29 30   28 29 30
                       31

      October                November               December
Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su   Mo Tu We Th Fr Sa Su
          1  2  3  4                      1       1  2  3  4  5  6
 5  6  7  8  9 10 11    2  3  4  5  6  7  8    7  8  9 10 11 12 13
12 13 14 15 16 17 18    9 10 11 12 13 14 15   14 15 16 17 18 19 20
19 20 21 22 23 24 25   16 17 18 19 20 21 22   21 22 23 24 25 26 27
26 27 28 29 30 31      23 24 25 26 27 28 29   28 29 30 31
                       30

**Forma 2:** Utilizando For-Loops

In [ ]:
## la función "calendar" implementa clases para trabajar con fechas para gestionar valores orientados en año / mes / día

# Importamos la librería calendar
import calendar

# Permite el ingresar el año que deseamos
año = int(input("Año:"))

for i in range(1, 13, 1):
  # Impresión del calendario anual que ingresamos
  print(calendar.month(año, i))

Año:2020
    January 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   February 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29

     March 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

     April 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

      May 2020
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

     June 2020
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

     July 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

    August 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

   September 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

    October 2020
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

   November 2020
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

   December 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

## **3.** Programe la siguiente regulación fiscal, usando datos ficticios con declaraciones condicionales, use las tres cláusulas (if, elif, else) al menos una vez
## Si el valor del paquete es inferior a 20 no tienes que pagar ningún impuesto de importación
Si el valor del paquete está entre 20 y 30 pagas 10% de impuesto de importación sobre el valor total.

Si el valor del paquete está entre 30 y 60, paga un impuesto de importación adicional del 7% sobre el valor superior a 30

Si el valor del paquete es superior a 60, paga un impuesto de importación adicional del 3% sobre el valor superior a 60

Si el valor del paquete es superior a 10 pagas el 20% de IVA sobre la suma total del valor e impuesto de importación

El valor del paquete debe establecerse en una variable y debe probar si su programa funciona para diferentes valores.

### Salida esperada (ejemplo):
El valor del paquete fue de 25,00, el impuesto de importación es de 2,50, el IVA es de 5,50, el total es de 33,00.

In [ ]:
# Ingreso del valor del paquete
valor = int(input("Ingrese el valor del paquete "))

# Si es que el valor es inferior a 10 no tiene que pagar ningún impuesto.
if valor < 10:
    print("El valor del paquete fue de",valor, "no tiene que pagar ningún tipo de impuesto. Su total es de",valor)

# Si el valor del paquete es superior a 10 pagas el 20% de IVA sobre la suma total del valor e impuesto de importación
# Si es inferior a 20 no paga impuiesto de importación
elif valor >= 10 and valor < 20:
    IVA = (valor * 0.2)
    Total = round(valor + IVA, 2)
    print("El valor del paquete fue de",valor, "no tiene que pagar impuesto de importación, si embargo el valor del IVA es de", IVA,". Su total es de",Total)

# Si es que el valor del paquete está entre 20 y 30 pagas 10% de impuesto de importación sobre el valor total.
elif valor >= 20 and valor <= 30:
    Impuesto = valor * 0.10
    IVA = round(valor * 0.2 + Impuesto * 0.2, 2)
    Total = round(valor + Impuesto + IVA, 2)
    print("El valor del paquete fue de", valor, ", el impuesto de importación es de", Impuesto, "y el IVA correspondiente es", IVA, ". Su total es de", Total )

# Si el valor del paquete está entre 30 y 60, paga un impuesto de importación adicional del 7% 
elif valor >= 30 and valor <= 60:
    Impuesto = valor * 0.07
    IVA = round(valor * 0.2 + Impuesto * 0.2, 2)
    Total = round(valor + Impuesto + IVA, 2)
    print("El valor del paquete fue de", valor, ", el impuesto de importación es de", Impuesto, "y el IVA correspondiente es", IVA, ". Su total es de", Total )

# Si el valor del paquete es superior a 60, paga un impuesto de importación adicional del 3%
elif valor > 60:
     Impuesto = valor * 0.03
     IVA = round(valor * 0.2 + Impuesto * 0.2, 2)
     Total = round(valor + Impuesto + IVA, 2)
     print("El valor del paquete fue de", valor, ", el impuesto de importación es de", Impuesto, "y el IVA correspondiente es", IVA, ". Su total es de", Total )

Ingrese el valor del paquete 25
El valor del paquete fue de 25 , el impuesto de importación es de 2.5 y el IVA correspondiente es 5.5 . Su total es de 33.0

## **4.** Reescribe el siguiente programa reemplazando la declaración condicional con expresiones condicionales

In [ ]:
a = -1
if a == 0:
    result = "= 0"
elif a>1:
    result = "> 1"
else:
    result = "<= 1"
print(result)

<= 1

In [ ]:
a = -1

result = "= 0" if a == 0 else "<= 1"
print(result)

<= 1

## **5.** Reescriba el siguiente programa reemplazando la lista de comprensión con un while-loop

In [ ]:
list_1 = [1, 2, 3, 4]
result  =  [digit ** 2 for digit in list_1 if digit % 2 == 0]
print(result)

[4, 16]

In [ ]:
list_1 = [1, 2, 3, 4]
while list_1:
  result = [digit ** 2 for digit in list_1  if digit % 2 == 0]
  print(result)
  break

[4, 16]

## **6.** En la clase 1 te mostramos las siguientes afirmaciones:

In [ ]:
a = 1
b = 1
print(a is b)

a = 1000
b = 1000
print(a is b)

True
False

Y, por supuesto, tienes curiosidad por la diferencia. Aprendimos en la clase 1 que los números enteros -5 hasta 255 fueron internados (guardados en disco) cuando comenzó Python, esto significa que los objetos con estos valores ya estaban creados. Ahora deseaamos escribir un programa que nos diga que 256 es de hecho el primer número entero que Python no esta guardado en disco.

Escrbimos el siguiente programa y ahora necsitamos explicar por qué este programa imprimirá "Sorpresa". ¿No debería romperse mientras se procesa el número entero 256, ya que ese número no está guardado internamente?

In [ ]:
for x in range(1000):
    a = x
    b = x
    if not (a is b):
        print(f"the highest integer {x-1}")
        break
else:
    print("Surprise")

Surprise

_Cuando usamos un **for** se crea un bucle y el código ejecuta la cantidad de veces que que le indica, sin embargo al llegar al 256 como los números fueron itinerados entre -5 y 255 supongo que debe deternerse ya que llegó a su límite._

## **7.** Vuelva a escribir la siguiente declaración sin un bucle y solo usando declaraciones condicionales:

In [ ]:
i = 1
while i < 4:
    print(i)
    i +=1

1
2
3

In [ ]:
i = 1
if i < 4:
  print(i)
  print(i + 1)
  print(i + 2)

1
2
3