In [ ]:
"# Preguntas clase 2 - TALLLER II "

"## 1 Programa la impresión de una tabla de multiplicar para todos los números entre 1 y 10, usando For-loops\n"
 "## Rendimiento esperado:\n",
    "     1   times  1  =    1\n",
    "     1   times  2  =    2\n",
    "     ...\n",
    "     1   times 10  =   10\n",
    "     ...\n",
    "    10   times 10  =  100  "

In [9]:
multiplication_table=int(input("Ingrese un número natural:"))
for i in range (1,11):
    print(f'{i}*{multiplication_table}={i*multiplication_table}')

Ingrese un número natural:7
1*7=7
2*7=14
3*7=21
4*7=28
5*7=35
6*7=42
7*7=49
8*7=56
9*7=63
10*7=70

"## 2 Programe un calendario (para todos los meses) para 2020 usando For-loops\n",

In [ ]:
"## Rendimiento esperado:\n",
    "     January                     \n",
    "     Mon Tue Wed Thu Fri Sat Sun  \n",
    "              1   2   3   4   5\n",
    "      6   7   8   9  10  11  12\n",
    "     13  14  15  16  17  18  19\n",
    "     20  21  22  23  24  25  26\n",
    "     27  28  29  30  31\n",
    "     \n",
    "     February\n",
    "     Mon Tue Wed Thu Fri Sat Sun\n",
    "                           1   2"

In [11]:
import calendar  # funcion para hacer calendarios
calendario= calendar.TextCalendar(calendar.MONDAY) # Primer día de la semana
print(calendario.formatyear(2020,3,1,1,4))# funcion formtyear , AÑO, Amplitud entre columnas, número de semanas que queremos por cada fila y número de columnas para meses

                                                       2020

          January                      February                      March                        April
Mon Tue Wed Thu Fri Sat Sun  Mon Tue Wed Thu Fri Sat Sun  Mon Tue Wed Thu Fri Sat Sun  Mon Tue Wed Thu Fri Sat Sun
          1   2   3   4   5                        1   2                            1            1   2   3   4   5
  6   7   8   9  10  11  12    3   4   5   6   7   8   9    2   3   4   5   6   7   8    6   7   8   9  10  11  12
 13  14  15  16  17  18  19   10  11  12  13  14  15  16    9  10  11  12  13  14  15   13  14  15  16  17  18  19
 20  21  22  23  24  25  26   17  18  19  20  21  22  23   16  17  18  19  20  21  22   20  21  22  23  24  25  26
 27  28  29  30  31           24  25  26  27  28  29       23  24  25  26  27  28  29   27  28  29  30
                                                           30  31

            May                          June                         July                        August
Mon Tue Wed Thu Fri Sat Sun  Mon Tue Wed Thu Fri Sat Sun  Mon Tue Wed Thu Fri Sat Sun  Mon Tue Wed Thu Fri Sat Sun
                  1   2   3    1   2   3   4   5   6   7            1   2   3   4   5                        1   2
  4   5   6   7   8   9  10    8   9  10  11  12  13  14    6   7   8   9  10  11  12    3   4   5   6   7   8   9
 11  12  13  14  15  16  17   15  16  17  18  19  20  21   13  14  15  16  17  18  19   10  11  12  13  14  15  16
 18  19  20  21  22  23  24   22  23  24  25  26  27  28   20  21  22  23  24  25  26   17  18  19  20  21  22  23
 25  26  27  28  29  30  31   29  30                       27  28  29  30  31           24  25  26  27  28  29  30
                                                                                        31

         September                     October                      November                     December
Mon Tue Wed Thu Fri Sat Sun  Mon Tue Wed Thu Fri Sat Sun  Mon Tue Wed Thu Fri Sat Sun  Mon Tue Wed Thu Fri Sat Sun
      1   2   3   4   5   6                1   2   3   4                            1        1   2   3   4   5   6
  7   8   9  10  11  12  13    5   6   7   8   9  10  11    2   3   4   5   6   7   8    7   8   9  10  11  12  13
 14  15  16  17  18  19  20   12  13  14  15  16  17  18    9  10  11  12  13  14  15   14  15  16  17  18  19  20
 21  22  23  24  25  26  27   19  20  21  22  23  24  25   16  17  18  19  20  21  22   21  22  23  24  25  26  27
 28  29  30                   26  27  28  29  30  31       23  24  25  26  27  28  29   28  29  30  31
                                                           30

"## 3 Programe la siguiente regulación fiscal, usando datos ficticios con declaraciones condicionales, use las tres cláusulas (if, elif, else) al menos una vez\n",
    "Si el valor del paquete es inferior a 20 no tienes que pagar ningún impuesto de importación\n",
    "Si el valor del paquete está entre 20 y 30 pagas 10% de impuesto de importación sobre el valor total\n",
    "Si el valor del paquete está entre 30 y 60, paga un impuesto de importación adicional del 7% sobre el valor superior a 30\n",
    "Si el valor del paquete es superior a 60, paga un impuesto de importación adicional del 3% sobre el valor superior a 60\n",
    "\n",
    "Si el valor del paquete es superior a 10 pagas el 20% de IVA sobre la suma total del valor e impuesto de importación\n",
    "\n",
    "El valor del paquete debe establecerse en una variable y debe probar si su programa funciona para diferentes valores.\n",
    "### Salida esperada (ejemplo):\n",
    "El valor del paquete fue de 25,00, el impuesto de importación es de 2,50, el IVA es de 5,50, el total es de 33,00."

In [17]:
valor_del_paquete=int(input("Ingrese el valor del paquete:"))
# valor del paquete : si es menor a 20  no se tiene que pagar impuesto (0%), vp>10 => 20% IVA
# si esta entre 20 y 30 paga 10%, 
# si esta entre 30 y 60 paga 17%
# si es superior a 60 paga 20%
while valor_del_paquete:
    if (valor_del_paquete >20 ):
        print ("Sí paga impuesto de importación" ,
                "valor del paquete" , valor_del_paquete ,
                "El impuesto de importación es 10%" ,
                "El valor del IVA es",((valor_del_paquete*10)/100),
                "su valor total es" ,((valor_del_paquete*10)/100)+valor_del_paquete)
        break
    if (valor_del_paquete >10 ):
        print ("Iva 10%" ,
                "El valor del IVA es",((valor_del_paquete*10)/100),
                "su valor total es" ,((valor_del_paquete*10)/100)+valor_del_paquete)
        break
    if (valor_del_paquete <20):
        print ("no paga impuesto de importación" ,
                "valor del paquete" , valor_del_paquete ,
                "El impuesto de importación es 0" ,
                "su valor total es" , valor_del_paquete)
        break
    if (valor_del_paquete >=20 and valor_del_paquete<=30):
        print ("Paga el 10% de impuesto de importación" ,
                "valor del paquete" ,valor_del_paquete  ,
                "El impuesto de importación es"  ,((valor_del_paquete*10)/100) ,
                "su valor total es" ,(((valor_del_paquete*10)/100)+valor_del_paquete))
        break
    if (valor_del_paquete >=30 and valor_del_paquete <=60):
        print ("Paga el 17% de impuesto de importación(paga un impuesto de importación adicional del 7%)",
                "valor del paquete",valor_del_paquete  ,
                "El impuesto de importación es"  ,((valor_del_paquete*17)/100)  ,
                "su valor total es" ,(((valor_del_paquete*17)/100)+valor_del_paquete))
        break
    elif (valor_del_paquete >60):
        print ("Paga el 20% de impuesto de importación(paga un impuesto de importación adicional del 3% sobre el valor superior a 60)",
                "valor del paquete" , valor_del_paquete ,
                "El impuesto de importación es" , ((valor_del_paquete*20)/100) ,
                "su valor total es" , (((valor_del_paquete*20)/100)+valor_del_paquete))
        break

Ingrese el valor del paquete:25
Sí paga impuesto de importación valor del paquete 25 El impuesto de importación es 0 El valor del IVA es 2.5 su valor total es 27.5

"## 4 Reescribe el siguiente programa reemplazando la declaración condicional con expresiones condicionales"
   ]

In [ ]:
    "a = -1\n",
    "if a == 0:\n",
    "    result = \"= 0\"\n",
    "elif a>1:\n",
    "    result = \"> 1\"\n",
    "else:\n",
    "    result = \"<= 1\"\n",
    "print(result)    "

In [18]:
a = -1
if a == 0:
    result = "= 0"
elif a>1:
    result = "> 1"
else:
    result = "<= 1"
print(result)

<= 1

In [19]:
a =-1
result = "= 0 "  if a == 0 else "<= 1" 
print(result)

<= 1

[
    "## 5 Reescriba el siguiente programa reemplazando la lista de comprensión con un while-loop"
   ]

In [ ]:
    "list_1 = [1, 2, 3, 4]\n",
    "result  =  [digit ** 2 for digit in list_1 if digit % 2 == 0]\n",
    "print(result)"

In [20]:
list_1 = [1, 2, 3, 4]
result  =  [digit ** 2 for digit in list_1 if digit % 2 == 0]
print(result)

[4, 16]

In [21]:
list_1 = [1, 2, 3, 4]
while list_1 :
    result  =  [digit ** 2 for digit in list_1 if digit % 2 == 0]
    print(result)
    break

[4, 16]

"## 6 En la clase 1 te mostramos las siguientes afirmaciones:"

In [ ]:
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "True\n",
      "False\n"

    "a = 1\n",
    "b = 1\n",
    "print(a is b)\n",
    "\n",
    "a = 1000\n",
    "b = 1000\n",
    "print(a is b)"

In [22]:
a = 1
b = 1
print(a is b)

a = 1000
b = 1000
print(a is b)

True
False

"Y, por supuesto, tienes curiosidad por la diferencia. Aprendimos en la clase 1 que los números enteros -5 hasta 255 fueron internados (guardados en disco) cuando comenzó Python, esto significa que los objetos con estos valores ya estaban creados. Ahora deseaamos escribir un programa que nos diga que 256 es de hecho el primer número entero que Python no esta guardado en disco.\n",
    "\n",
    "Escrbimos el siguiente programa y ahora necsitamos explicar por qué este programa imprimirá \"Sorpresa\". ¿No debería romperse mientras se procesa el número entero 256, ya que ese número no está guardado internamente?"

In [ ]:
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Surprise\n"

   "source": [
    "for x in range(1000):\n",
    "    a = x\n",
    "    b = x\n",
    "    if not (a is b):\n",
    "        print(f\"the highest integer {x-1}\")\n",
    "        break\n",
    "else:\n",
    "    print(\"Surprise\")"

In [24]:
for x in range(1000):
    a = x
    b = x
    if not (a is b):
        print(f"the highest integer {x-1}")
        break
else:
    print("Surprise")

Surprise

Un bucle for establece la variable iteradora en cada valor de una lista, arreglo o cadena proporcionada y repite el código en el cuerpo del bucle for para cada valor de la variable iteradora.

"## 7 Vuelva a escribir la siguiente declaración sin un bucle y solo usando declaraciones condicionales:"

In [ ]:
    "i = 1\n",
    "while i < 4:\n",
    "    print(i)\n",
    "    i +=1"

In [23]:
i = 1
while i < 4:
    print(i)
    i +=1

1
2
3